body{
    margin: 0;
}
.game-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    /* margin: auto; */
    margin:30px 35% 0 35%;
    
}
.items{
    border: solid black 1px;
    padding: 40px;
    background-color: aquamarine;
}
.items:hover{
    background-color: aqua;
}
#reset-btn{
    background-color: red;
    width: 50px;
    text-align: center;
    margin: 20px;
    border-radius: 5px;
    padding: 5px;
}